@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-mode="light"] {
  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
}

[data-color-mode="dark"] {
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
}
